<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // sort out chart data
    let aliveDataLogs = [];
    let pingDataLogs = [];
    let alive = [];
    let time = [];
    let pings = [];
    // alive data
    {{#each alive}}
        alive.push({{this}});
    {{/each}}

    // time data
    {{#each time}}
        time.push(new Date({{this}}));
    {{/each}}

    // ping data
    {{#each pings}}
        pings.push({{this}});
    {{/each}}

    // chart information for connection
    for (let i = 0; i < alive.length; i++) {
        aliveDataLogs.push([time[i].toLocaleTimeString(), alive[i]]);
    }

    // chart information for pings
    for (let i = 0; i < alive.length; i++) {
        pingDataLogs.push([time[i].toLocaleTimeString(), pings[i]]);
    }

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['line']});
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // alive chart
        let data = new google.visualization.DataTable();
        data.addColumn('string', 'Time');
        data.addColumn('number', 'Connectivity');
        data.addRows(aliveDataLogs);

        var aliveChartOptions = {
          title: 'Connection Status',
          subtitle: 'Boolean value (1 == connection, 0 == none)'
        };

        var chart = new google.charts.Line(document.getElementById('chart_div'));
        chart.draw(data, google.charts.Line.convertOptions(aliveChartOptions));

        // ping chart
        let pingData = new google.visualization.DataTable();
        pingData.addColumn('string', 'Time');
        pingData.addColumn('number', 'Ping');
        pingData.addRows(pingDataLogs);

        var pingChartOptions = {
          title: 'Ping Data',
          subtitle: 'In miliseconds'
        };

        var pingChart = new google.charts.Line(document.getElementById('ping_chart'));
        pingChart.draw(pingData, google.charts.Line.convertOptions(pingChartOptions));
    }
    
</script>
<div class="container mt-5 text-center">
    <h1 class="display-4">Currently viewing: {{logfile}}</h1>
    <a href="http://localhost:3000/logviewer">Go back</a>
</div>
<div class="container">
    <div id="chart_div" class="mt-3 card shadow p-3"></div>
    <div id="ping_chart" class="mt-5 card shadow p-3"></div>
</div>
{{!-- <div class="container">
    {{#each anomalousLogs}}
    <div class="alert alert-warning">
        There was an anomalous log at: {{this}}
    </div>
    {{/each}}
</div> --}}