<div class="container mt-5 text-center">
    <h1 class="display-4">Currently viewing: {{logfile}}</h1>
    <a href="/logviewer">Go back</a>
    <a href="/graph?logfile={{logfile}}" class="btn btn-primary m-3">View Graph</a>
    <p class="fw-light">To find anomalous logs ctrl + f -> 999</p>
    <p class="fw-lighter">Sorted from earilest to latest</p>
</div>
<div class="container">
    <table class="table table-striped table-hover shadow">
        <thead>
            <th>Time</th>
            <th>Ping</th>
            <th>Connectivity</th>
        </thead>
        <tbody>
            {{#each fixedLog}}
            <tr class="{{this.style}}">
                <td>{{this.time}}</td>
                <td>{{this.ping}}</td>
                <td>{{this.connectivity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>